{% extends "base.html" %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
<div class="home-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <h3 class="text-center">Sign-Up for our Newletter!</h3>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible text-center" role="alert"> <button
                            style="border: none;" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;
                            </span></button>
                        <strong>{{ message }}</strong>


                        {% endfor %}
                        {% else %}

                        {% csrf_token %}
                        <br>
                        <form>
                            <div class="input-group justify-content-center">
                                {% crispy form %}
                                <span class="input-group-btn">
                                    <button class="btn btn-theme " type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <br>
                    <p class="text-center">Want to unsubscribe?
                        <a href="{% url 'newsletter_unsubscribe' %}">
                            <i class="fa-solid fa-arrow-right-long"></i></a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}