@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');

body {
    background-color: #FFFFF4;
    color: #064E4B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid {
    padding-left: 8rem;
    padding-right: 8rem;
}

/* Blog posts */
#blog-posts {
    border-radius: 30%;
}

.card-title {
    color: #064E4B;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #63AA85;
    transform: scale(1.1);
}

a:visited,
a:link,
a:active {
    text-decoration: none;
}


.col-md-3 {
    padding: 10px;
}

/* Navbar */
.navbar-brand {
    text-decoration: none;
    color: #064E4B;
    margin-left: 2%;
}

.nav {
    position: fixed;
    background: none;
}

.nav-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

.nav-item>a {
    text-align: right;
    color: #064E4B;
    margin-right: 10px;
}

/* Forms */


.bg-img {
    background-image: url('https://res.cloudinary.com/dmqu7iqfu/image/upload/v1666970168/textile-textured-spring-leaves-horizontal-border-vector-2745931_xpr5p3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0.9);
}


.post-header {
    padding-bottom: 10px;
    position: relative;
    font-family: 'Satisfy', cursive;
    font-weight: 300;
    color: #306844;
}

/* Pagination */
.pagination-btn a:hover {
    text-decoration: none;
    color: #63AA85;
    transform: scale(1.1);
}

.pagination-btn a {
    color: #064E4B;
    border-radius: 10%;
    bottom: 20px;
}

/* HR */
.break {
    border: 0;
    height: 1px;
    background: #333;
    align-items: center;
    background-image: linear-gradient(to right, #63AA85, #333, #63AA85);
}

/* Quick tips */
.tips {
    text-align: center;
    padding-top: 7%;
}

.feature-row {
    padding-left: 10rem;
    padding-top: 3rem;
}

.col-md-4 {
    padding-top: 3rem;
}

ol {
    text-decoration: none;
    position: relative;
    top: 9rem;
}


.tips-list {
    list-style: circle;
    line-height: 2;
    top: 6rem;
}

.left-image {
    opacity: 0.6;
    margin-bottom: 15%;
    text-align: center;
}

/* Common mistakes */
.image-2 {
    position: relative;
    left: 60%;
    width: 47%;
    top: 95px;
    opacity: 0.8;
}

#mistakes-list {
    position: relative;
    padding: 5%;
    border-left: 1px solid #dbd8cf;
    right: 45%;
}

#mistakes-list p {
    font-size: 13px;
}

/* Plants and your health*/
.health img {
    left: 90px;
    position: relative;
    height: fit-content;
    opacity: 0.3;
    filter: sepia(1);
}

.health h4 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

#health-list {
    position: absolute;
    padding-top: 5%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 15px;
    color: darkslategrey;
    line-height: 2;
}

.list-break {
    width: fit-content;
}

/* Pets and plants */
.cat-image {
    border-radius: 5%;
    box-shadow: 0 0 25px rgb(129 124 124 / 20%);
    margin-top: 10%;
    position: relative;
    left: 25%;
    width: 80%;
    opacity: 0.7;
}

.plants-and-pets {
    position: relative;
    padding: 1%;
    margin-top: 10%;
    border-radius: 20%;
    padding: 20px;
}

/* Footer */
footer {
    padding: 3%;
}

/* Post-page html */

.post-image {
    position: relative;
    left: 25%;
}

.card-text {
    text-decoration: none;
    color: #306844;
}

.comment-area {
    position: relative;
    left: 10%;
    border-radius: 5px;
    background: transparent;
}