body {
    background-color: #F3F9ED;
    color: #064E4B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-title {
    color: #064E4B;
    text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.card-text {
    text-decoration: none;
    color: #E19D85;
}

.navbar-brand {
    text-decoration: none;
    color: #064E4B;
    margin-left: 2%;

}

.nav {
    position: fixed;
    background: none;
}

.nav-item {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
}

.nav-item>a {
    text-align: right;
    color: #064E4B;
    margin-right: 10px;
}

/* .form-row {
    margin-left: 15%;
} */
form {
    margin-left: 10%;
}

.bg-img {
    background-image: url('https://res.cloudinary.com/dmqu7iqfu/image/upload/v1666970168/textile-textured-spring-leaves-horizontal-border-vector-2745931_xpr5p3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0.9);
}



