{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
{% if user.is_superuser %}

<div class="row my-3 p-3 welcome-add">
    <h3 class="text-center">Welcome Admin!</h3>
    <a href="/" class="text-center"><i class="fa-solid fa-arrow-left"></i> Go Back</a>
</div>
<div class="text-center add-post">
    <h2>Create a Post</h2>
    <br>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-secondary add-post-btn">Post</button>

    </form>
    {% else %}
    <div class="row my-3 p-3 d-flex justify-content-center">
        You are not signed in as admin: <a class="text-center" href="{% url 'account_login' %}"><i class="fa-solid fa-arrow-right"></i> Login</a>
    </div>


</div>

{% endif %}
{% endblock %}