{% extends "base.html" %}
{% block content %}

Profile settings page

<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text-center">

        <div>
            <div>
            <form action="" method="get">
                <label for="bio">Bio</label>
                <input name="bio" class="form-control" id="bio" type="text" placeholder="Enter your bio"
                    value="{{ profile.bio|default:'' }}" required>
            </form>
        </div>

            <div>
                <!-- Choose File Icon -->
                <span class="icon icon-md">
                    <span class="fas fa-paperclip mr-3"></span>
                </span>
                <!-- Choose File Input -->
                <input name="profile_pic" type="file">
                <div>
                    <div class="font-weight-normal text-dark">Choose Image</div>
                    <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn">Save All</button>
        </div>

    </div>
</form>

{% endblock %}