{% extends "base.html" %}
{% load static %}
{% block content %}



<form method='POST' action="{% url 'edit_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <div class="container rounded bg-transparent mt-5 mb-5 ">
        <div class="row edit-profile">

            <div class="col-md-3 profile-border">

                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5 profile_pic" width="150px" src="{% if user.profile_pic %}{{ profile.get_profile_pic }}
                    {% else %}{% static 'images/default2.jpeg' %} {% endif %}" alt="profile pic">
                    <span class="font-weight-bold">{{ profile.user }}</span><span
                        class="text-black-50">{{ user.email }}</span><span> </span>
                    <div class="date-joined text-capitalize text-muted">Date Joined <br>
                        {{ request.user.date_joined|date:"b d Y" }}</div>
                </div>
            </div>
            {% csrf_token %}
            {{form.as_p}}
            <div class="col-md-5 border-right">

                <div class="p-4 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 class="post-header">This is the profile page for {{user.username}}</h3>
                    </div>
                    <div class="col-md-6"><label class="labels">First Name: </label><input name="first_name" type="text"
                            class="form-control" id="first_name" placeholder="{{ user.first_name }}"
                            value="{{ profile.first_name|default:'' }}" required>
                    </div>
                    <div class="col-md-6"><label class="labels">Last Name: </label><input name="last_name" type="text"
                            class="form-control" id="last_name" placeholder="{{ user.last_name }}"
                            value="{{ profile.last_name|default:'' }}" required>
                    </div>
                    <label class="labels" for="bio">Bio: </label>
                    <input name="bio" class="form-control" id="bio" type="text" placeholder="Enter your bio"
                        value="{{ profile.bio|default:'' }}" required>
                </div>


                <div class="profile-input">
                    <span class="icon icon-md">
                        <span class="fas fa-paperclip mr-3"></span>
                    </span>
                    <input name="profile_pic" type="file">

                </div>
                <div class="edit-button">
                    <br>
                    <button type="submit" class="btn btn-outline-secondary" style="position: relative; left:5%;">Save
                        All</button>
                </div>
</form>
<br>
<div class="text-center mb-3">
    <a href="{% url 'profile' %}" class="btn btn-outline-secondary">&laquo; Back</a>
</div>

<div class="col text-start text-center mb-3">
    <form action="{% url 'delete_profile' user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" name="profile_id" value="{{user.id}}" class="btn btn-outline-danger">Delete profile</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <section class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    Wait!
                </h5>
            </section>

            <div class="modal-body">
                Are you sure you want to permanently delete your profile?
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Go
                    back</button>

                <form action="{% url 'delete_profile' user.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="profile_id" value="{{user.id}}" class="btn btn-danger">Delete
                        profile</button>
                </form>
            </div>

        </div>
    </div>
</div>

</div>

</div>

{% endblock %}