{% extends "base.html" %}
{% block content %}
<h2 class="post-header d-flex justify-content-center">Featured Posts</h2>
<hr class="break" style="width:80%; margin: auto;" />
<div class="row feature-row">
  
    <div class="col-sm-5">
      
      <div class="card text-center" style="width: 30rem;">
        <div class="card-body">
            <img class="card-img-bottom rounded float-left" src="https://res.cloudinary.com/dmqu7iqfu/image/upload/v1666866222/witch_hdpr91.jpg" alt="Card image cap">
          <h5 class="card-title">All things Halloween</h5>
          <p class="card-text">Click the button to see our feature this month!</p>
          <a href="#" class="btn btn-success">Halloween Time!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center" style="width: 30rem;">
        <div class="card-body">
            <img class="card-img-bottom" src="https://res.cloudinary.com/dmqu7iqfu/image/upload/v1666866837/gardening_ywa45y.jpg" alt="Card image cap">
          <h5 class="card-title">See our events!</h5>
          <p class="card-text">Click the button to see what events are coming up!</p>
          <a href="#" class="btn btn-success">Event list</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}