{% extends "base.html" %}
{% block content %}

<body>

    <div class="container-fluid">
        <!-- <div class="row py-3">
            <div class="col-4 order-2" id="sticky-sidebar">
                <div class="sticky-top">
                    <h4>news</h4>
                    <p class="mb-0">This is a comment</p>


                </div>
            </div>

        </div> -->
        <div class="row">
            <h2 class="latest-posts d-flex justify-content-center">Latest Blog Posts</h2>

            <hr class="break" style="width:90%; margin: auto;" />

            {% for post in post_list %}
            <div class="col-md-4">
                <div class="card mb-2 shadow p-3 mb-5 bg-white rounded text-center">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top rounded mx-auto d-block"
                                src="https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?cs=srgb&dl=pexels-alena-koval-886521.jpg&fm=jpg&_gl=1*1yqe4ni*_ga*MTM3NzE5NzA4NS4xNjY2Njc4OTQz*_ga_8JE65Q40S6*MTY2NjY4NTIxNS4yLjEuMTY2NjY4NTgxOS4wLjAuMA..">
                            {% else %}
                            <img class="card-img-top" src=" {{ post.featured_image.url }}">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on}}<i
                                class="fa-regular fa-face-grin-hearts"></i>
                            {{ post.number_of_likes }}</p>
                    </div>

                </div>

            </div>

            {% if forloop.counter|divisibleby:3 %}
            <div class="row">
                {% endif %}

                {% endfor %}
            </div>
            <hr class="break" style="width:90%; margin: auto;" />
        </div>

        <div class="row">
            <h3 class="tips">Quick Tips</h3>
            <div class="card card-body">
                <div class="plant-care tips-card">
                <ol class= "fa-ul">
                    <li>
                        <span class="fa-li"><i class="fa-solid fas fa-seedling"></i></span>Spin your plants around so they grow evenly and not lopsided.</li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fas fa-seedling"></i></span>Pick plants that work with your schedule.</li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fas fa-seedling"></i></span>Watering: Not Too Much and Not Too Little.</li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fas fa-seedling"></i></span>Keep Your Pet Away.</li>

                </ol>
            </div>
            </div>

        </div>
    </div>
    </div>
</body>

{%endblock%}