{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}


<div class="row justify-content-center pets-section">
    <h2 class="text-center post-header">Pets and Plants</h2>
    <h4 class="text-center pets-header" style="font-family: cursive;">All about, pets and plants!</h4>
    <hr class="break" style="width:90%; margin: auto;">
    <br>
    <br>
    <br>
    <img src="https://res.cloudinary.com/dmqu7iqfu/image/upload/v1669978722/102418-Plants-Pets-post3_czcjzm.jpg"
        class="img-fluid rounded" style="width: 50%;" alt="Responsive image">
</div>
<br>
<h2 class="text-center pets-header">My list of plants to avoid: </h2>
<br>
<div class="d-md-block col-md-6 post-image">
    <ul class="text-center">
        <li class="list-pets">
            <h4>SAGO PALM</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>Grown for its attractive fronds and unfussy nature, sago palm (Cycas revoluta) is actually a cycad.
                Despite its elegant appearance, all parts of the plant are extremely poisonous if ingested by pets,
                with
                the seeds being the most toxic part of the plant. </p>
        </li>
        <li class="list-pets">
            <h4>JADE PLANT</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>Introduced as a houseplant decades ago, jade plant (Crassula ovata) is a succulent grown for its
                fleshy
                leaves and sturdy tree-like appearance that lends an exotic appeal. Harmful to dogs and cats if any
                part
                of the plant is ingested, the toxic property is unknown.</p>
        </li>
        <li class="list-pets">
            <h4>AMARYLLIS</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>A favorite of holiday gift givers, the oversized bulb of amaryllis (Hippeastrum) produces a tall,
                sturdy
                stem with large, trumpet-shaped flowers that come in a variety of colors. Other common names include
                belladonna lily, St. Joseph lily, cape belladonna, and naked lady. Mildly to moderately poisonous to
                dogs and cats, the toxic principle, lycorine, can cause vomiting, depression, diarrhea, abdominal
                pain,
                hypotension, excessive salivation, and tremors. The bulbs are more toxic than the leaves and
                flowers.
            </p>
        </li>
        <li class="list-pets">
            <h4>ALOE VERA</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>Popularized for its many therapeutic uses, aloe (Aloe vera) is a succulent that grows natively in
                tropical regions worldwide. Cultivated as a houseplant or outdoors in mild climates, Aloe vera is
                grown for its spiky architectural form and ease of maintenance. The gel extracted from the leaves is
                primarily used topically as a salve to treat burns. Taken internally, aloe is used to treat a host
                of other medical issues.</p>
        </li>
        <li class="list-pets">
            <h4>WEEPING FIG</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>
                A commonly cultivated tree native to Asia and Australia, weeping fig (Ficus benjamina) is grown
                outdoors in warmer U.S. regions. As a houseplant, it’s grown for its glossy foliage, graceful
                arching habit, and tolerance of a wide range of growing conditions. Other common names include
                Benjamin’s fig, Indian rubber plant, and rubber tree. Toxic to both cats and dogs if ingested, the
                enzyme ficin that occurs in all parts of the plant can destroy proteins in dogs that are needed to
                repair body tissues.
            </p>
        </li>
        <li class="list-pets">
            <h4>PHILODENDRON</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>For generations, philodendron has been a mainstay of houseplant lovers for its wide tolerance of
                growing conditions, particularly low light. The most commonly grown, heartleaf philodendron
                (Philodendron scandens) is one of the easiest of all houseplants, favored for its decorative leaves
                and vining habit. Also known as sweetheart plant, the leaves can be toxic to cats and dogs if chewed
                or ingested. The toxic ingredient of calcium oxalate crystals is released upon chewing or biting any
                parts of the plant.</p>
        </li>
        <li class="list-pets">
            <h4>BEGONIA</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>Both a popular garden plant and houseplant, begonia (Begonia spp.) is grown for its attractive
                heart-shaped leaves in a variety of colors and patterns, as well as its decorative flowers.
                Poisonous to cats and dogs if ingested, the toxic principle is soluble calcium oxalates, which are
                more concentrated in the underground tubers than the leaves and stems.</p>
        </li>
        <li class="list-pets">
            <h4>ZZ PLANT</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>One of the toughest and most forgiving houseplants is ZZ plant (Zamioculcas zamiifolia), the name
                abbreviated by the nursery trade for convenience. The shiny fleshy leaves and graceful arching habit
                hold up well in low light and even thrive on neglect, making this a good choice for those with busy
                lifestyles. The toxic property of calcium oxalate is mildly to moderately toxic if ingested by pets,
                causing swelling of the eyes, mucous membranes, or skin.</p>
        </li>
        <li class="list-pets">
            <h4>CALLA LILY</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>
                Grown both as an indoor and outdoor plant, calla lily (Zantedeschia aethiopica) is best known for
                its elegant tubular flowers. Dangerous to pets if any parts of the plant are ingested, the active
                toxin is calcium oxalate crystals. Milder symptoms include a burning sensation in the mouth and
                throat, drooling, difficulty swallowing, and choking, which can linger up to two weeks.
            </p>
        </li>
        <li class="list-pets">
            <h4>KALANCHOE</h4>
            <hr class="break" style="width:30%; margin: auto;">
            <br>
            <p>
                This tropical succulent is favored by houseplant lovers for its ease of cultivation and tolerance of
                a wide range of conditions. Other
                common names include flaming Katy, devil’s backbone, Mexican hat plant and Madagascar
                widow’s-thrill. All parts of the plant are poisonous to dogs and cats, with the toxic property of
                glycoside toxins similar to those found in foxglove.
            </p>
        </li>
    </ul>
</div>
<hr class="break" style="width:90%; margin: auto;">

<br>
<div class="container-fluid">
    <div class="row pets-away">
        <h1 class="tips post-header">Tips to keep them away</h1>
        <br>
        <div class="col-7 left-image pets-image">
            <br>
            <br>
            <br>
            <img class="rounded col-10" style="width: 50%;"
                src="https://res.cloudinary.com/dmqu7iqfu/image/upload/v1670059629/pet-friendly-plant-1616688426_joy64u.jpg"
                alt="pets">
        </div>

        <ul class="col-sm col-5 tips-list pets-list" style="padding-right: 5%;">
            <br>
            <li>
                Hang them out of reach.
            </li>
            <li>
                Make them taste terrible. Cinnamon, cayenne or citrus!
            </li>
            <li>
                Provide other entertainment, No energy, No plant-biting.
            </li>
            <li>
                Stones (for cats). Add stones to your soil!
            </li>
            <li>
                Keep Toxic Plants Out of Reach.
            </li>
            <li>
                Use Positive Reinforcement With Your Pets.
            </li>
            <li>
                Aluminum Foil: Cats hate the reflection and the texture from aluminum foil.
            </li>
            <li>
                Plastic Forks: Stick several plastic forks with the prong side up into the soil.
            </li>
        </ul>
        <hr class="break" style="width:90%; margin: auto;">


    </div>
</div>
{% endblock %}