{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="post-body text-center">
    <div class="container">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
    </div>


    <div class="d-md-block col-md-6 post-image-card">
        {% if "placeholder" in post.featured_image.url %}
        <img class="post-image"
            src="https://images.pexels.com/photos/886521/pexels-photo-886521.jpeg?cs=srgb&dl=pexels-alena-koval-886521.jpg&fm=jpg&_gl=1*1yqe4ni*_ga*MTM3NzE5NzA4NS4xNjY2Njc4OTQz*_ga_8JE65Q40S6*MTY2NjY4NTIxNS4yLjEuMTY2NjY4NTgxOS4wLjAuMA.."
            width="100%" alt="post image">
        {% else %}
        <img src=" {{ post.featured_image.url }}" width="600" alt="featured image">
        {% endif %}
        <!-- Post content -->
        <div class="row justify-content-center post-content">
            <p class="card-text">
                {{ post.content | safe }}
            </p>
            <div class="container">
                <div class="row justify-content-center">
                    {% if user.is_staff %}
                    <div class="d-grid gap-2 justify-content-center">
                        <a class="btn btn-outline-secondary" href="{% url 'edit_post' post.id%}"><i
                                class="far fa-edit"></i>Edit</a>
                        <div class="justify-content-end">
                            <a class="btn btn-outline-secondary" href="{% url 'delete_post' id=post.id %}"><i
                                    class="fa-solid fa-trash"></i>Delete</a>{{message}}

                        </div>
                        {% endif %}
                    </div>
                    <!-- Like button -->
                    <div class="col-md-2 like-button">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                    class="btn-like text-secondary"><i
                                        class="fa-regular fa-face-kiss-wink-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                    class="btn-like text-secondary"><i class="fa-regular fa-face-smile"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fa-regular fa-face-smile"></i>
                            </span>

                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <!-- Total comments -->
                    <div class="col-md-1 like-button">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
                <!-- Comments list -->
                <div class="col-md-8 card mb-4  mt-3 bg-transparent shadow-sm p-3 mb-5 bg-white rounded comments">
                    <h3>Comments:</h3>
                    <div class="card-body">
                        {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">

                            <p class="font-weight-bold">

                                <!-- <img class="thumbnail rounded-circle profile_pic" style="width: 10%;"
                                    alt="profile pic" src="{{ profile.get_profile_pic }}"> -->
                                <i class="fa fa-comment"></i>
                                {{ comment.name }}


                                <span class="text-muted font-weight-normal">
                                    {{ comment.created_on }}

                                </span> wrote:

                            </p>

                            {{ comment.body | linebreaks }}
                            <hr class="break" style="width:80%; margin: auto;" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if commented %}
            <div class="col-md-6 card mb-4 mt-3 comment-area shadow-sm p-3 mb-5 rounded" style="width: 80%;">
                <div class="card-body" style="padding: 5%;">
                    <div class="alert" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    <!-- Leave a comment area -->
                    {% if user.is_authenticated %}

                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em; border-radius: 10%;">
                        {{ comment_form|crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-outline-secondary">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}