{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% for profile in profile_list %}
{% if user == profile.user %}
{% if user.is_authenticated %}
<div class="alert alert-success alert-dismissible text-center" role="alert"> <button style="border: none;" class="close" data-dismiss="alert"
        aria-label="Close"><span aria-hidden="true">&times;
        </span></button>
    <strong>Welcome, {{request.user.username}}</strong> Login Successful
</div>
{% endif %}
<div class="container rounded bg-transparent mt-5 mb-5 ">
    <div class="row">

        <div class="col-md-3 profile-border">

            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if user.profile_pic == "" %}
                <img src="{% static 'images/default.jpeg'%}">
                {% else %}
                <img class="rounded-circle mt-5 profile_pic" width="150px" src="{{ profile.get_profile_pic }}"
                    alt="profile pic">
                {% endif %}
                {{ user.username }}
                <div class="date-joined text-capitalize text-muted">Date Joined <br>
                    {{ request.user.date_joined|date:"b d Y" }}</div>
            </div>
        </div>

        {% csrf_token %}
        {{form.as_p}}
        <div class="col-md-5 border-right">

            <div class="p-4 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="post-header">This is the profile page for {{user.username}}</h3>
                </div>
                <div class="user-info">
                    {{ profile.first_name }}
                    {{ profile.last_name }}</div>
                <br>
                <br>

                <div class="bio-section">
                    "{{ profile.bio }}"
                </div>
            </div>

        </div>
    </div>

</div>

{% endif %}
{% endfor %}

<div class="text-center mt-4 mb-4 update-profile">
    <a href="{% url 'edit_profile' %}" class="btn btn-outline-secondary">
        Update profile &raquo;
    </a>
</div>

{% endblock %}