{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

{% for profile in profile_list %}

<div class="container rounded bg-transparent mt-5 mb-5 ">
    <div class="row">

        {{ profile.bio }}

        <div class="col-md-3 profile-border">

            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5 profile_pic" width="150px" src="{{ profile.get_profile_pic }}">
            </div>

        </div>
        
        <div class="col-md-5 border-right">

            <div class="p-4 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="post-header">This is the profile page for {{user.username}}</h3>
                </div>

                <div class="form-group profile_form">
                    {{ profile.bio }}
                </div>
            </div>

        </div>

        <div class="text-center">
            <a href="{% url 'edit_profile' %}" class="btn">
                Update profile
            </a>
        </div>

    </div>    
</div>


{% endfor %}
{% endblock %}