{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Back to Blog</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12">
            <h5>Edit Post</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form action="/edit/{{post.id}}" method="POST">
                {% csrf_token %}
                <p>Title</p>
                <input type="text" class="form-control" name="title" value="{{ post.title }}">
                <br>
                <input name="featured_image" type="file">
                <br>
                <!-- <input type="image" class="form-control" name="image" value="{{ post.featured_image.url }}"> -->
                <p>Content</p>
                <textarea name="content" class="form-control" cols="30" rows="10">{{ post.content }}</textarea>
                <br>

                <div class="d-grid gap-2 justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary mt-3" >Submit!<a href="{% url 'home' %}"></a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}